@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap');

body{
  margin: 0;
  padding: 0;
  font-family: "Noto Sans JP";
}

.bar{
  position: fixed;
  display: flex;
  width: 100%;
  height: 75px;
  padding: 0 25px;
  background-color: #ffffff;
  align-items: center;
}

.bar .logo{
  height: 40px;
  margin-right: 15px;
}

.bar .title{
  height: 30px;
  margin-right: 15px;
}

.bar h6{
  font-weight: 400;
}

.bar p{
  font-size: 15pt;
  font-weight: 300;
}

.bar_right_l{
  margin-left: auto;
  margin-right: 50px;
}

.bar_right{
  margin-right: 50px;
}

.bar_right_r{
  margin-right: 50px;
}

.bar a{
  text-decoration: none;
  color: #000000;
}

.hamburger-menu{
  display: none;
  margin-right: 50px;
  margin-left: auto;
}

.menu{
  display: none;
  margin-right: 50px;
  margin-left: auto;
}

.top_img_pc{
  width: 100%;
}

.top_img_sp{
  width: 100%;
  display: none;
  margin-top: 25px;
}

@media screen and (max-width: 1000px) {
  .bar{
    height: 150px;
  }

  .bar .logo{
    height: 80px;
    margin-right: 30px;
  }

  .bar .title{
    height: 60px;
    margin-right: 30px;
  }

  .bar h6{
    font-weight: 400;
    font-size: 1.34em;
  }

  .bar_right_l{
    display: none;
  }

  .bar_right{
    display: none;
  }

  .bar_right_r{
    display: none;
  }

  /* ハンバーガーメニューのスタイル */
  .hamburger-menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 40px;
    cursor: pointer;
    transition: transform 0.3s;
  }

  /* ハンバーガーメニューのアイコンのスタイル */
  .hamburger-line{
    width: 100%;
    height: 4px;
    background-color: #333;
    margin-bottom: 8px;
    transition: transform 0.3s, opacity 0.3s;
  }

  /* activeクラスのスタイル */
  .active .hamburger-line:nth-child(1){
    transform: translateY(12px) rotate(45deg);
  }

  .active .hamburger-line:nth-child(2){
    opacity: 0;
  }

  .active .hamburger-line:nth-child(3){
    transform: translateY(-12px) rotate(-45deg);
  }

  /* メニューのスタイル */
  .menu{
    display: none;
    background-color: #f0f0f0;
    padding: 10px;
    width: 100px;
    margin-left: auto;
    margin-right: 0;
    opacity: 0;
    transition: opacity 0.3s, display 0.5s;
    transition-behavior: allow-discrete;
  }

  /* activeクラスが付与されたときのメニューのスタイル */
  .active + .menu{
    display: block;
    opacity: 1;
    @starting-style {
      opacity: 0;
    }
  }

  .top_img_pc{
    display: none;
  }

  .top_img_sp{
    display: inline;
  }

  /*.top_img{
    display: block;
    width: 150%;
    position: relative;
    left: 50%;
    transform: translateX(-60%);
    z-index: -1;
  }

  .top_img{
    margin-top: 75px;
  }*/
}